@model Product_repair_manager.Models.Item_damages

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item_damages</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemsId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemsId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.severity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.severity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Item_damagesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
