@model IEnumerable<Product_repair_manager.Models.Item_damages>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.damage_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.severity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemsId)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.damage_type)
                </td>
            <td>
                    @Html.DisplayFor(modelItem => item.severity)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Item_damagesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Item_damagesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Item_damagesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
